span.title PiPong.io
nav
  //a(href="/",       title="Club540.com")  Home
  //a(href="/tricktionary", title="Tricktionary") Tricktionary
  a(href="/me", title="My Profile") My Profile
  a(href="http://facebook.com/pipong.io", title="Facebook")
    i.fa.fa-facebook-official
  //script(type="text/javascript", src="https://apis.google.com/js/platform.js")
  //div.g-ytsubscribe(data-channelid="UCB3Dwc3iDF2E3Mf1kKstqRQ", data-layout="default", data-count="default")
span.right 1.0.0
